html,
body{
	width: 100%;
	height: 100%;
	text-align: center;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/HFS_startsida.jpg');
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
hr
{
  color: #5F5F5F;
background-color: #5F5F5F;
height: 2px;
width: 80%;
}

#title
{
	font-size: 400%;
	font-family: 'Lato';
	text-transform: uppercase;
  letter-spacing: 7px;
}

#intro{
	text-transform: uppercase;
	font-size: 290%;
	font-family: 'Lato';
  letter-spacing: 7px;
}

#subtitle
{
	font-size: 180%;
	font-family: 'Lato';
  padding-top: 0px;
  padding-bottom: 30px;
  color:#5F5F5F;
}

p#yrke{
  text-align: left;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 200%;
}


p#yrke1{
  text-align: left;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 200%;
}

p#kommun{
  text-align: left;
  font-family: 'Lato';
  font-size: 170%;
}

p#kommun1{
  text-align: left;
  font-family: 'Lato';
  font-size: 170%;
}


p#yrkeom{
  text-align: left;
  font-family: 'Lato';
  font-size: 170%;
}

p#yrke1om{
  text-align: left;
  font-family: 'Lato';
  font-size: 170%;
}

.housing-section {
    width: 100%;
    padding: 50px 70px;
    height: 40%;
    color: #fff;
    background-color: #c5d9ed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
   
}
.competence-section {
    width: 100%;
    height: 40%;
    padding: 50px 70px;
    color: #fff;
    background-color: #ffa727;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.button-section {
    width: 100%;
    color: #fff;
    height:20%;
    background-color: #074d5e;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.results-section
{
    width: 100%;
    color: #5F5F5F;
    height:80%;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.styled-select select {
   text-align: center;
   color: #5F5F5F;
   background-color: #fff;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
    font-size: 14px;
   height: 40px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 450px;
   border-color:#b9b9b9; 
   }

.styled-search input
{
	margin-top: 10px;
   background: #fff;
   color:#5F5F5F;
   width: 450px;
   padding: 5px;
   line-height: 1;
   border: 1px solid #b9b9b9;
   border-radius: 0;
   height: 40px;
   -webkit-appearance: none;
}

button#search {
	  background: #074d5e;
   	width: 100%;
    height: 100%;
   	font-size: 20px;
   	border: 0;
   	border-radius: 0;
}
button#search:hover{
	background-color: #024150
}

button#checkin{
    font-family: 'Lato';
	background-color: #ffa727;
	text-align: center;
	text-transform: uppercase;
  padding: 38px 85px 38px 85px;
    width: 300px;
    border: 0;
   	border-radius: 0;
   	font-size: 30px;
   -webkit-appearance: none;
   margin-top: 60px;
}

button#checkin:hover{
	background-color: #EB9410;
}

button#apply{
  font-family: 'Lato';
  background-color: #ffa727;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 15px 5px 15px;
  width: 150px;
  height: 40px;
  border: 0; 
  border-radius: 0;
  font-size: 17px;
  -webkit-appearance: none;
  margin-top: 10px;
}

button#apply:hover{
  background-color: #EB9410;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .housing-section {
        padding: 100px 100px;

    }

    .competence-section {
        padding: 100px 100px;
    }

    .results-section {
      padding: 100px 100px;
    }


    #map {
        height: 400px;
        margin-top: 250px;
    }
/*
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
*/
}
